<%= form_for(@user) do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username, :autofocus => true %>
  </div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <% if @user.new_record? %>
    <div><%= f.label :password %>
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></div>
  <% end %>
  <div>
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= f.button "Cancel", type: "button", class: "btn", onclick: "window.location='#{users_path}'" %>
  </div>
<% end %>